<!DOCTYPE html>
<html th:replace="~{admin/layout/layout::layout(~{::main})}" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<main class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">标签管理</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">标签管理</li>
                        <li class="breadcrumb-item active">标签列表</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <a th:href="@{/admin/tag/add}" class="btn btn-primary btn-sm">
                    添加标签
                </a>
                <div class="card-tools">
                    <form th:action="@{/admin/tag/list}" id="searchTag" method="get">
                        <div class="input-group input-group-sm">
                            <input type="text" name="tag_name" class="form-control float-right"
                                   th:value="${#request.getParameter('tag_name')}"
                                   placeholder="Search">
                            <input type="hidden" name="page">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>标签名称</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tag : ${list}" class="text-center">
                        <td th:text="${tag.getId()}"></td>
                        <td th:text="${tag.getTagName()}"></td>
                        <td th:text="${#temporals.format(tag.getCreateTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <a th:href="${'/admin/tag/edit/'+ tag.getId()}" class="btn btn-xs btn-success">
                                <i class="fas fa-edit"></i>&nbsp;&nbsp;编辑
                            </a>
                            <button th:data-id="${tag.getId()}" type="button" class="btn btn-xs btn-danger delTag">
                                <i class="fas fa-trash"></i>&nbsp;&nbsp;删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <div id="paginator" class="pagination pagination-sm">

                </div>
            </div>

        </div>
    </section>
    <!-- /.content -->
    <script type="text/javascript">
        $(function () {
            var currentPage = "[[${page}]]"
            var totalPage = "[[${totalPages}]]"
            $("#paginator").jqPaginator({
                totalPages: Number(totalPage) === 0 ? 1 : Number(totalPage),
                visiblePages: 10,
                currentPage: Number(currentPage),
                first: '<li class="first page-item"><a class="page-link" href="javascript:void(0);">首页<\/a><\/li>',
                prev: '<li class="prev page-item"><a class="page-link" href="javascript:void(0);"><i class="arrow arrow2"><\/i>上一页<\/a><\/li>',
                next: '<li class="next page-item"><a class="page-link" href="javascript:void(0);">下一页<i class="arrow arrow3"><\/i><\/a><\/li>',
                last: '<li class="last page-item"><a class="page-link" href="javascript:void(0);">末页<\/a><\/li>',
                page: '<li class="page page-item"><a class="page-link" href="javascript:void(0);">{{page}}<\/a><\/li>',
                onPageChange: function (n) {
                    if (Number(n) !== Number(currentPage)) {
                        $("input[name='page']").val(n)
                        $("#searchTag").submit();
                    }
                }
            });

            $(".delTag").click(function () {
                Swal.fire({
                    title: '确认要删除此条记录吗?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '确定',
                    cancelButtonText: '取消'
                }).then((result) => {
                    if (result.isConfirmed) {
                        const id = $(this).data('id');
                        $.ajax({
                            url: "/admin/tag/delete/",
                            method: "POST",
                            data: {id: id,_csrf:"[[${_csrf.getToken()}]]"},
                            success: function (res) {
                                Swal.fire(
                                    res.message,
                                    '',
                                    'success'
                                ).then(() => window.location.reload())
                            }
                        })

                    }
                })
            })
        })
    </script>
</main>
</html>
