<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="aside">
    <div class="toggle sidebar-toggle">
        <span class="toggle-line toggle-line-first"></span>
        <span class="toggle-line toggle-line-middle"></span>
        <span class="toggle-line toggle-line-last"></span>
    </div>
    <aside class="sidebar">
        <div class="sidebar-inner">
            <ul class="sidebar-nav motion-element">
                <li class="sidebar-nav-toc">
                    文章目录
                </li>
                <li class="sidebar-nav-overview">
                    站点概览
                </li>
            </ul>
            <!--noindex-->
            <div class="post-toc-wrap sidebar-panel">
<!--                <div class="post-toc motion-element">-->
<!--                    <ol class="nav">-->
<!--                        <li class="nav-item nav-level-2">-->
<!--                            <a class="nav-link" href="#Quick-Start">-->
<!--                                <span class="nav-number">1.</span>-->
<!--                                <span class="nav-text">Quick Start</span>-->
<!--                            </a>-->
<!--                            <ol class="nav-child">-->
<!--                                <li class="nav-item nav-level-3">-->
<!--                                    <a class="nav-link" href="#Create-a-new-post">-->
<!--                                        <span class="nav-number">1.1.</span>-->
<!--                                        <span class="nav-text">Create a new post</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item nav-level-3">-->
<!--                                    <a class="nav-link" href="#Run-server">-->
<!--                                        <span class="nav-number">1.2.</span>-->
<!--                                        <span class="nav-text">Run server</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item nav-level-3">-->
<!--                                    <a class="nav-link" href="#Generate-static-files">-->
<!--                                        <span class="nav-number">1.3.</span>-->
<!--                                        <span class="nav-text">Generate static files</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item nav-level-3">-->
<!--                                    <a class="nav-link" href="#Deploy-to-remote-sites"><span-->
<!--                                            class="nav-number">1.4.</span>-->
<!--                                        <span class="nav-text">Deploy to remote sites</span></a>-->
<!--                                </li>-->
<!--                            </ol>-->
<!--                        </li>-->
<!--                    </ol>-->
<!--                </div>-->
            </div>
            <!--/noindex-->
            <div class="site-overview-wrap sidebar-panel">
                <div class="site-author motion-element" itemprop="author" itemscope
                     itemtype="http://schema.org/Person">
                    <img class="site-author-image" itemprop="image" alt="ZLXY"
                         src="/static/index/images/avatar.gif">
                    <p class="site-author-name" itemprop="name">ZLXY</p>
                    <div class="site-description" itemprop="description"></div>
                </div>
                <div class="site-state-wrap motion-element">
                    <nav class="site-state">
                        <div class="site-state-item site-state-posts">
                            <a href="/archives/">

                                <span class="site-state-item-count">3</span>
                                <span class="site-state-item-name">日志</span>
                            </a>
                        </div>
                        <div class="site-state-item site-state-categories">
                            <a href="/categories/">
                                <span class="site-state-item-count">1</span>
                                <span class="site-state-item-name">分类</span></a>
                        </div>
                        <div class="site-state-item site-state-tags">
                            <a href="/tags/">
                                <span class="site-state-item-count">1</span>
                                <span class="site-state-item-name">标签</span></a>
                        </div>
                    </nav>
                </div>
                <div class="links-of-author motion-element">
                          <span class="links-of-author-item">
                            <a href="https://github.com/yourname"
                               title="GitHub → https:&#x2F;&#x2F;github.com&#x2F;yourname" rel="noopener"
                               target="_blank"><i class="fab fa-github fa-fw"></i>GitHub</a>
                          </span>
                    <span class="links-of-author-item">
                            <a href="mailto:yourname@gmail.com" title="E-Mail → mailto:yourname@gmail.com"
                               rel="noopener" target="_blank"><i
                                    class="fa fa-envelope fa-fw"></i>E-Mail</a>
                          </span>
                </div>
            </div>

        </div>
    </aside>
    <div id="sidebar-dimmer"></div>
</div>
</html>