<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="navbar" class="header" itemscope itemtype="http://schema.org/WPHeader">
    <div class="header-inner">
        <div class="site-brand-container">
            <div class="site-nav-toggle">
                <div class="toggle" aria-label="切换导航栏">
                    <span class="toggle-line toggle-line-first"></span>
                    <span class="toggle-line toggle-line-middle"></span>
                    <span class="toggle-line toggle-line-last"></span>
                </div>
            </div>
            <div class="site-meta">
                <a href="/" class="brand" rel="start">
                    <span class="logo-line-before"><i></i></span>
                    <h1 class="site-title">ZLXY</h1>
                    <span class="logo-line-after"><i></i></span>
                </a>
            </div>
            <div class="site-nav-right">
                <div class="toggle popup-trigger">
                    <i class="fa fa-search fa-fw fa-lg"></i>
                </div>
            </div>
        </div>
        <nav class="site-nav">
            <ul id="menu" class="main-menu menu">
                <li class="menu-item menu-item-home">
                    <a href="/" rel="section"><i class="fa fa-home fa-fw"></i>首页</a>
                </li>
                <li class="menu-item menu-item-tags">
                    <a href="/tags/" rel="section"><i class="fa fa-tags fa-fw"></i>标签</a>
                </li>
                <li class="menu-item menu-item-categories">
                    <a href="/categories/" rel="section"><i class="fa fa-th fa-fw"></i>分类</a>
                </li>
                <li class="menu-item menu-item-archives">
                    <a href="/archives/" rel="section"><i class="fa fa-archive fa-fw"></i>归档</a>
                </li>
                <li class="menu-item menu-item-about">
                    <a href="/about/" rel="section"><i class="fa fa-user fa-fw"></i>关于</a>
                </li>
                <li class="menu-item menu-item-search">
                    <a role="button" class="popup-trigger"><i class="fa fa-search fa-fw"></i>搜索
                    </a>
                </li>
            </ul>
        </nav>
        <div class="search-pop-overlay">
            <div class="popup search-popup">
                <div class="search-header">
                        <span class="search-icon">
                        <i class="fa fa-search"></i>
                        </span>
                    <div class="search-input-container">
                        <input autocomplete="off" autocapitalize="off"
                               placeholder="搜索..." spellcheck="false"
                               type="search" class="search-input">
                    </div>
                    <span class="popup-btn-close">
                            <i class="fa fa-times-circle"></i>
                        </span>
                </div>
                <div id="search-result">
                    <div id="no-result">
                        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
</html>