<!DOCTYPE html>
<html th:replace="~{layout/layout::layout(~{::main})}" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body itemscope itemtype="http://schema.org/WebPage">
<main class="content-wrap">
    <div class="content page posts-expand">
        <div class="post-block" lang="zh-CN">
            <header class="post-header">
                <h1 class="post-title" itemprop="name headline">categories
                </h1>
                <div class="post-meta">
                </div>
            </header>
            <div class="post-body">
                <div class="category-all-page">
                    <div class="category-all-title">
                        目前共计 1 个分类
                    </div>
                    <div class="category-all">
                        <ul class="category-list">
                            <li class="category-list-item">
                                <a class="category-list-link" href="/categories/hello">hello</a>
                                <span class="category-list-count">3</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>